<html lang="en" dir="ltr">
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'users/main.css' %} ">
</head>

<body>
    <div class="wrapper">
        <h2>Create a blog</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="input-box button">
                <input type="Submit" value="Create Now">
            </div>
        </form>
    </div>
</body>
<script>
    var field = document.getElementById('id_user_id').value = "{{user_id}}"
</script>
</html>